name: Build

on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm
          registry-url: "https://npm.pkg.github.com"
      - name: Npm install, test and build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |
          npm ci
          npm run test
          npm run build
      - name: Npm build server
        working-directory: ./server
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |-
          npm ci
          npm run build
